.header {
    grid-area: h;
    background-color: #d2e4fc;
    border-bottom: 1px solid #980343;
}

.logo {
    height: 98px;
    width: 270px;
    margin-left: 54px;
}

.loginBlock {
    float: right;
    padding: 10px;
    color: #980343;
    font-size: 20px;
    margin-right: 10px;
}
.loginBlock button {
    margin-left: 20px;
    height: 25px;
    width: 100px;
    border: 2px solid #980343;
    border-radius: 5px;
}

.login {
    color: #980343;
    font-size: 20px;
    margin-right: 10px;
}

.loginBlock a{
    color: #980343;

}