.form {
    padding: 0px 50px;
}

.input{
    margin: 10px 5px 10px 0px;
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid;
    border-radius: 8px;
}
.errorInput {
    border: 2px solid #d91818;
}

.spanError {
    font-weight: bold;
    color: #d91818;
}